html, body{
    width: 100%;
    height: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 10%;
    min-width: 100%;
    background-color: rgb(114,176,208,0.5);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

main{
   min-height: 80%;
   min-width: 100%;
}

footer{
    height: 10%;
    min-width: 100%;
    background-color: rgb(114,176,208,0.5);
}