li{
    list-style: none;
}

#link_first{
    color: blue;
}

.links{
    color: red;
}

a{
    color: green;
}

img{
    width: 150px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black
}
